<div class="flex min-h-screen flex-col bg-slate-50">
  <main
    class="mx-auto grid w-full max-w-7xl flex-1 grid-cols-1 gap-4 p-4 sm:grid lg:grid-cols-[1fr_400px] lg:gap-4 lg:p-2"
  >
    <div class="flex items-start justify-center">
      <app-wordle></app-wordle>
    </div>

    <aside class="order-first flex flex-col gap-2 lg:order-none">
      @if (currentUser(); as currentUser) {
        <app-statistics [discordId]="currentUser.discordId"></app-statistics>
      }

      <app-leaderboard></app-leaderboard>
    </aside>
  </main>
</div>
